<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" routerLink="new">New User</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-user-list-item *ngFor="let user of users" [user]="user"></app-user-list-item>
  </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>