<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" routerLink="new">New User</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-offset-5">
      <div *ngIf="showSpinner" class="loader"></div>
  </div>
  <div *ngIf="!showSpinner" class="col-xs-12">
    <app-user-list-item *ngFor="let user of users" [user]="user"></app-user-list-item>
  </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pager">
      <li><a (click)="decreasePageNumber()" [ngClass]="pageNumber === 1?'disable':'prev-next'">Previous</a></li>
      <li><a class="page-number">{{pageNumber}} of {{userService?.totalPages}}</a></li>
      <li><a (click)="increasePageNumber()" [ngClass]="pageNumber === userService?.totalPages?'disable':'prev-next'">Next</a></li>
    </ul>
  </nav>